.myCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    color: white;
    background-color: rgb(130, 209, 12, 0.2);
    text-align: left;
    box-shadow: 0 0 20px 0 grey;
    border-radius: 6px;
    margin-bottom: 4%;
}

.card-header {
    border-bottom: 2px solid black;
}

.title {
    text-shadow: 15px 5px 20px rgb(5, 80, 5);
}

.author {
    float: right;
}

.card-footer {
    border-top: 2px solid black;
}

.card .namePosted {
    float: left;
}

.datePosted {
    float: right;
}

.daysPassed {
    color: white;
    font-size: 15px;
    font-style: italic;
    float: right;
}

.card-text {
    font-family: fantasy;
    font-style: italic;
    font-size: 25px;
}