<div class="myCards">
    <div *ngFor='let quote of quotes' class="card" style="width:24rem;">
        <div class="card-header">
            <h6 class="title"> {{quote.title|uppercase}}</h6>
        </div>
        <div class="card-body ">
            <p class="card-text "> "{{quote.description}}"</p>
            <p><span class="author"> ( ~<strong>{{quote.author}}</strong> )</span> </p>
        </div>
        <app-vote-details></app-vote-details>

        <div class="card-footer ">
            <p><span class="namePosted">Posted by: {{quote.name}}</span><span class="datePosted">{{quote.dateCreated|date}}</span> </p>
        </div>
    </div>
</div>