.quotesContent {
    margin-top: 1%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    color: white;
}

.quotesContent hr {
    border: 1px solid greenyellow;
    margin-right: 5%;
    text-align: center;
}