<div class="quotesContent">
    <h1 class="text-center">Quote Quorra <i class="far fa-heart fa-spin"></i></h1>
    <hr>


    <div class="row">
        <div class="col-md-4">
            <app-quote-form></app-quote-form>
        </div>

        <div class="col-md-7" id="quotesAdded">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum illo dignissimos natus! Optio odio recusandae quia necessitatibus aperiam blanditiis rem facilis adipisci repudiandae. Corporis eveniet reprehenderit quisquam dolore debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum illo dignissimos natus! Optio odio recusandae quia necessitatibus aperiam blanditiis rem facilis adipisci repudiandae. Corporis eveniet reprehenderit quisquam dolore debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum illo dignissimos natus! Optio odio recusandae quia necessitatibus aperiam blanditiis rem facilis adipisci repudiandae. Corporis eveniet reprehenderit quisquam dolore debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum illo dignissimos natus! Optio odio recusandae quia necessitatibus aperiam blanditiis rem facilis adipisci repudiandae. Corporis eveniet reprehenderit quisquam dolore debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum illo dignissimos natus! Optio odio recusandae quia necessitatibus aperiam blanditiis rem facilis adipisci repudiandae. Corporis eveniet reprehenderit quisquam dolore debitis.</p>
        </div>
    </div>


</div>