.quotesContent {
    margin-top: 1%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    color: white;
}

hr {
    border: 2px solid rgb(130, 209, 12);
    margin-right: 5%;
    text-align: center;
}

.far {
    color: rgb(130, 209, 12);
}

#quotesAdded {
    align-items: center;
    text-align: center;
}

.vote hr {
    border: 2px dashed black;
}