.voteButton {
    border-top: 1px solid rgb(0, 0, 0, 0.8);
    color: white;
}

#likeBtn,
#hateBtn {
    color: white;
}

#like {
    color: greenyellow;
    width: 25px;
    height: 25px;
}

#dislike {
    color: rgba(204, 7, 7);
    width: 25px;
    height: 25px;
}

#delete {
    float: right;
    width: 25px;
    height: 25px;
    color: rgb(204, 7, 7);
}

.delete {
    float: right;
    padding-top: 2%;
    margin-bottom: 1%;
    padding-right: 1%;
}

.btn:hover {
    transform: scale(1.2);
    background-color: rgb(0, 0, 0, 0.8);
}