<div class="container-fluid">
    <h2 class="text-center">Add a quote</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" required class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="title">Quote Title :</label>
            <input type="text" required class="form-control" id="title">
        </div>
        <div class="form-group">

            <label for="description">Quote Description :</label>
            <textarea class="form-control" id="description" rows="3" required></textarea>

        </div>
        <div class="form-group">
            <label for="author">Quote Author :</label>
            <input type="text" required class="form-control" id="author">
        </div>
        <button type="submit" class="button" name="addNewQuote" id="addNewQuote">Add Quote</button>
    </form>
</div>