<div class="container-fluid">
    <h2 class="text-center">Add Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote();quoteForm.resetForm({})' #quoteForm='ngForm' ngNativeValidate>

        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' minlength="3">
            <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required
                </div>
                <div *ngIf="name.errors.minlength">
                    Miminum length is 3 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Quote Title :</label>
            <input type="text" required class="form-control" id="title" [(ngModel)]="newQuote.title" name="title" #title='ngModel'>

            <div *ngIf="title.invalid && title.dirty " class="alert alert-danger">
                <div *ngIf="title.errors.required">
                    Quote title is required
                </div>
            </div>
        </div>
        <div class="form-group">

            <label for="description">Quote Description :</label>
            <textarea class="form-control" id="description" rows="3" required [(ngModel)]="newQuote.description" name="description" #description='ngModel'></textarea>

            <div *ngIf="description.invalid && description.dirty " class="alert alert-danger">
                <div *ngIf="description.errors.required">
                    Quote description is required
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="author">Quote Author :</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'>

            <div *ngIf="author.invalid && author.dirty " class="alert alert-danger">
                <div *ngIf="author.errors.required">
                    Quote Author is required
                </div>
            </div>
        </div>
        <button type="submit" class="button" name="addNewQuote" id="addNewQuote">Add Quote</button>
    </form>
</div>